<div class="pagination">
    <ul>
        <li{{#isFirst}} class="disabled"{{/isFirst}}>
            <a{{^isFirst}} href="#/list/{{prev}}"{{/isFirst}}>Prev</a>
        </li>
        {{#nav}}
        <li{{#active}} class="active"{{/active}}>
            <a{{^active}} href="#/list/{{num}}"{{/active}}>{{title}}</a>
        </li>
        {{/nav}}
        <li{{#isLast}} class="disabled"{{/isLast}}>
            <a{{^isLast}} href="#/list/{{next}}"{{/isLast}}>Next</a>
        </li>
    </ul>
</div>
