{{#pageNav}}{{>nav}}{{/pageNav}}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Channel</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr style="cursor:pointer" onclick="logger.showDocument('{{id}}')">
            <td style="white-space: nowrap">{{#datetime}}{{value.timestamp}}{{/datetime}}</td>
            <td>{{value.channel}}</td>
            <td>{{value.message}}</td>
        </tr>
        {{/rows}}
    </tbody>
</table>

{{#pageNav}}{{>nav}}{{/pageNav}}
