{{#h_pageNav}}{{>nav}}{{/h_pageNav}}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Channel</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr style="cursor:pointer" onclick="logger.navigate('record', '{{id}}')">
            <td style="white-space: nowrap">{{#h_dateTimeList}}{{value.timestamp}}{{/h_dateTimeList}}</td>
            <td>{{value.channel}}</td>
            <td>{{value.message}}</td>
        </tr>
        {{/rows}}
    </tbody>
</table>

{{#h_pageNav}}{{>nav}}{{/h_pageNav}}
