<h1>Record</h1>

<a href="javascript:logger.navigateToPage({{currentPage}})">Back to list</a>

<span class="label label-info pull-right">{{record.channel}}</span>
<h2>{{record.message}}</h2>
<p>
    {{#datetime}}{{record.timestamp}}{{/datetime}}
</p>

<pre>
    {{#record}}{{{prettyPrint}}}{{/record}}
</pre>