<h1>Record</h1>

<a href="#/list/{{currentPage}}/{{record._id}}">Back to list</a>

<span class="label label-info pull-right">{{record.channel}}</span>
<h2>{{record.message}}</h2>
<p>
    {{#h_dateTimeRecord}}{{record.timestamp}}{{/h_dateTimeRecord}}
</p>

<pre>
    {{#record}}{{{h_prettyJson}}}{{/record}}
</pre>